# ==========================================
# FluxGuard - Git Ignore
# ==========================================

# --------------------
# Environment / Secrets
# --------------------
.env
.env.*
!.env.example

# --------------------
# Python
# --------------------
.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# --------------------
# macOS
# --------------------
.DS_Store

# --------------------
# Logs
# --------------------
*.log
logs/
airflow/logs/

# --------------------
# Node / React / Vite
# --------------------
node_modules/
dashboard/node_modules/
dashboard/dist/
dist/

# --------------------
# Spark
# --------------------
spark-warehouse/
checkpoints/
.checkpoint/

# --------------------
# Generated ML Data
# --------------------
fraud/ml/transactions.csv

# --------------------
# IDE
# --------------------
.vscode/
.idea/

# --------------------
# Temporary files
# --------------------
*.tmp
*.temp
pytest_error.txt