# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/

# Coverage
.coverage
htmlcov/

# Spark
spark-warehouse/

# Airflow
airflow/logs/
airflow/airflow.db

# Docker
docker-compose.override.yml